body {
  padding: 1em;
  margin: 0 auto;
  font-size: 100%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form:first-child {
  margin-top: 10px;
}

.form * {
  margin-bottom: 10px;
}

.button {
  width: 100px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background: greenyellow;
  outline: none;
  box-shadow: 2px 4px 3px #bbb;
}

.button:active {
  box-shadow: 2px 2px 3px #ddd;
  transform: translateY(2px);
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button:disabled {
  background: forestgreen;
  color: white;
  cursor: wait;
}

/* Results table styles */
table {
  width: 100%;
}

thead {
  background: lightgray;
}

tbody > tr:nth-child(odd) {
  background: #fafafa;
}

td,
th {
  padding: 5px;
}

td[colspan="100%"] {
  text-align: center;
}

td {
  vertical-align: top;
}

td.link-error {
  color: gray;
}

.error {
  color: red;
}

.success {
  color: limegreen;
}

.in-progress {
  color: darkgoldenrod;
}
